<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Inconsolata|Shadows+Into+Light+Two|Calligraffitti|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="../javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">var JOB_ID = '';</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47035811-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <!-- INTRO DIV -->
    <div id="intro" class="intro" style="display: none;">
      <script type="text/javascript">
        // handler for scroll button click
        $(document).ready(function () {
          $("#scrollToUpload").click(function() {
            document.getElementById('upload').style.display = 'block';
            $('html,body').animate({ scrollTop: $(".upload").offset().top}, 3500);
          });
        });
      </script>

      <h1 style="text-align: center; margin-bottom: 10px;">
        <%= title %>
      </h1>

      <h2 style="text-align: center; font-size: 18px; margin-bottom: 10px;">
        from <a target="_blank" href="https://mapzen.com">Mapzen</a>
      </h2>

      <div style="padding-bottom: 10px">
        <img width="20%" class="centered animated wiggle" style="padding-bottom: 2%;" src = "../images/elf.png" />
      </div>

      <div class="textInfo" style="display: block; margin: 0 auto; width: 70%;"><%= intro %></div>

      <!-- scroll down button -->
      <p style="width: 100%">
        <button id="scrollToUpload" type="button" class="scrollButton">
          <b>I want it!</b>
        </button>
      </p>

      <div><image src="../images/footprints.png"/></div>
    </div>

    <!-- UPLOAD DIV -->
    <div id="upload" class="upload" style="display: none;">

      <div style="width: 100%; padding-bottom: 6%;">

        <!-- left part of row with text -->
        <div style="float: left; width: 70%; padding-bottom: 30px">
          <div>
            <p class="textInfo" style="width: 90%; float: left; padding-top: 10%; text-align: left;">
              So, Santa's gonna need a csv formatted file with a column
              labeled <b>"address"</b>, and you'll get back that same csv
              file but with <b>"lat" "lng"</b> columns!
            </p>
          </div>

          <div style="float:left; width: 100%;">
            <image class="outline" src="../images/sample-csv-input.png" />
          </div>
          <div class="textInfo" style="float:left;">becomes</div>
          <div style="float:left; width: 100%; padding-bottom: 20px;">
            <image class="outline" src="../images/sample-csv-output.png" />
          </div>
          <div class="textInfo" style="float:left;">How fun!</div>
        </div>

        <!-- right part of row with image -->
        <div style="width: 30%; float: right; padding-top: 14%;">
          <img width="90%" class="animated wiggle" src="../images/candycane.png" />
        </div>

      </div>


      <div style="float:left;">
        <script src="javascripts/upload.js"></script>
        <form id="uploadForm" action="Javascript:submitForm()" enctype="multipart/form-data">

          <div style="padding-left: 0%; ">
          <table class="outline" style="width: 450px; padding: 15px; padding-top: 0px">
            <tr>
              <td id="fileRow">
                <!-- file selector button -->
                <div class="centered">
                  <!-- hidden file input selector -->
                  <input id="file"
                         type="file"
                         name="csvFile"
                         class="inputfile"
                         data-multiple-caption="{count} files selected" multiple />

                  <!-- Label for file selector with little svg icon -->
                  <label id="inputfileLabel" class="inputfileLabel" style="height: 60px; width: 400px; display: block; margin: 0 auto;" for="file">
                    <p style="margin: 0 auto; padding-top: 15px;">
                      <img style="width: 24px; height: 24px; padding-right: 5px; " src="../images/attach.png" />
                      Upload a CSV file...
                    </p>
                  </label>
                </div>
              </td>
            </tr>
            <tr style="height: 35px;"></tr>
            <tr>
              <td id="emailRow">
                <input id="email" type="text" name="email" class="textInput" style="width: 370px; display: block; margin: 0 auto;" placeholder="Email: naughty@northpole.com" />
              </td>
            </tr>
            <tr style="height: 35px;"></tr>
            <tr>
              <td id="niceRow" style="padding-left: 8%; padding-right: 8%;">
                <input type="checkbox" id="confirmNice" name="confirmNice" style="float: left;" />
                <label id="confirmNiceLabel" class="finePrint" style="float: right;" for="confirmNice">
                  I hereby confirm that I’ve been nice, and I accept the Santa-Batch-Geocoder / Mapzen
                  <a target="_blank" href="https://mapzen.com/terms/">terms of service</a> &
                  <a target="_blank" href="https://mapzen.com/privacy/">privacy policy</a>.
                  If you want to stay off the naughty list, remember that information you upload here may be
                  available publicly, so don't share personally identifiable information in the data you upload.
                  Santa is always watching, he even know when you are sleeping!
                </label>
              </td>
            </tr>
            <tr style="height: 35px;"></tr>
            <tr>
                <td>
                  <button id="send" type="submit" class="scrollButton" style="width: 450px;">
                      <div>Make it, make it!</div>
                  </button>
                </td>
            </tr>
          </table>
          </div>
        </form>
      </div>
      <div class="textInfoRight" style="">
        <br/>
        Please make sure your csv file has the proper column headers.
        <br/><br/><br/>
        You'll get an email with the link to the results.
        <br/><br/><br/>
        Don't forget to read the <a target="_blank" href="https://mapzen.com/terms/">terms of service</a> and
        <a target="_blank" href="https://mapzen.com/privacy/">privacy policy</a>. Seriously, check them out.
        <br/><br/><br/><br/><br/>
        It's truly the gift that keeps on giving...
        for two days, after that we're going to delete your results, so do save them somewhere.
      </div>
    </div>

    <div id="waitScreen" class="waitScreen" style="height: 1500px; display: none;">
      <div style="float:left;">
        <img style="width:90%;" class="animated wiggle" src="../images/sheep.png"/>
      </div>
      <div id="waitText" style="float:right; padding-top: 15%; width: 500px">
        No peeking! We're making a list...
        <br/><br/>
        and obviously checking it twice!
        <br/><br/>
        <p style="font-size: 20px;">
          You can hangout here and the download link will magically appear once it's ready,
          or you can leave and rest assured that an email will come your way as soon as the job is done.
          <br/><br/>
          While you wait, go check out <a target="_blank" href="https://www.mapzen.com/projects/search/">Mapzen Search,</a>
          which is the search service powering this holiday fun.
        </p>
      </div>
      <div id="waitError" style="color: maroon; float:right; padding-top: 10%; width: 450px; display: none;">
        Oh no! Something went wrong. We sure hope you try again. Here's some info on why it didn't work.
        <p id="waitErrorPlaceholder">some error</p>
      </div>
    </div>

    <div id="downloadReady" class="downloadReady" style="width: 100%; height: 1500px; display: none; margin: 0 auto">
      <div class="centered" style="text-align: center;">
        <p>
        <h2>Hooray! It's ready!</h2>
        Click the gift to open and enjoy!
        </p>
      </div>
      <div>
        <a id="downloadLink" href="/results">
          <img width="25%" class="centered animated wiggle" src="../images/gift.png"/>
        </a>
      </div>
      <div style="display: block; margin: 0 auto">
        <p style="text-align: center">
          From Santa (and <a target="_blank" href="http://www.mapzen.com">Mapzen</a>), with love <3
        </p>
      </div>
      <div>
        <button style="color: black; height: 60px; font-size: 20px; color: white;" class="centered" onclick="document.location.href='/'">
          Wheeee! That was fun. Let's do it again!
        </button>
      </div>
    </div>


    <script src="javascripts/custom-file-input.js"></script>
    <script src="javascripts/check-for-results.js"></script>

  </body>
</html>
