/*****************************************/
/**************** GENERAL ****************/
/*****************************************/

body {
  background-color: #FDF6EE;
  padding: 50px;
  font-family: 'Architects Daughter', cursive;
  font-size: 32px;

  min-width: 800px;
  max-width: 800px;
  margin: 0 auto !important;
  float: none !important;
}

/* LINKS */
a {
  color: #00B7FF;
}

/* GENERAL INPUT */
input {
  /*rounded corners and light gray line*/
  -moz-border-radius:10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */

  font-family: 'Architects Daughter', cursive;
  font-size: 20px;

  -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 0 0 10px 0;
}

/*****************************************/
/****************** DIVS *****************/
/*****************************************/

.intro {
  width: 100%;
  height: 1500px;
}

.upload {
  width: 100%;
  height: 1500px;
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*****************************************/
/********* BIG SCROLL DOWN BUTTON ********/
/*****************************************/

.scrollButton {
  background: #194d33;
  height: 100px;
  width: 500px;
  opacity: 0.7;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  color: wheat;

  /*rounded corners and light gray line*/
  -moz-border-radius:10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */

  font-family: 'Architects Daughter', cursive;
  font-size: 30px;

  -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
}

/*****************************************/
/*************** FONTS *******************/
/*****************************************/

/* FINE PRINT FONT */
.finePrint {
  font: 16px "Inconsolata";
}

/* TEXT INPUT FONT */
.textInput {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;

  background: rgba(255,255,255,0.5);
  border: 1px solid darkgray;
  text-align: center;
}

/* TEXT INPUT FONT */
.textInfo {
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  text-align: center;
}

/* OFFICIAL TEXT FONT */
.official {
  font-family: 'Inconsolata', cursive;
  font-size: 22px;
  float: right;
}

/*****************************************/
/************** FILE SELECTOR ************/
/*****************************************/

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.inputfile + label {
  text-align: left;
  margin-top: 0;
  /*rounded corners and light gray line*/
  -moz-border-radius:10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */

  font-family: 'Architects Daughter', cursive;
  font-size: 20px;

  -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);


  color: wheat;
  background: rgba(153,51,51, 0.9);
  border-color: rgba(102, 51, 0, 0.5);
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
  /*background-color: red;*/
}

/*****************************************/
/************* NICE CHECKBOX *************/
/*****************************************/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 35px; height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px; left: 0px;
  font-size: 65px;
  line-height: 0.5;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* wiggle animation */
.animated {
   -webkit-animation-duration: 10s;
   animation-duration: 10s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes wiggle {
   0% { -webkit-transform: rotate(9deg); }
   20% { -webkit-transform: rotate(-8deg); }
   40% { -webkit-transform: rotate(7deg); }
   60% { -webkit-transform: rotate(-6deg); }
   80% { -webkit-transform: rotate(5deg); }
   90% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(0deg); }
}

@keyframes wiggle {
   0% { transform: rotate(9deg); }
   20% { transform: rotate(-8deg); }
   40% { transform: rotate(7deg); }
   60% { transform: rotate(-6deg); }
   80% { transform: rotate(5deg); }
   90% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
}

.wiggle:hover {
   -webkit-animation-name: wiggle;
   animation-name: wiggle;
   -webkit-animation-timing-function: ease-in;
   animation-timing-function: ease-in;
}

.animated.wiggle {
   -webkit-animation-duration: 0.75s;
   animation-duration: 0.75s;
}

/* shadows */
.shadow {
  -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
}
