<style>
    body {
        font-family: 'Architects Daughter', cursive;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
    }
    .linkToResults {
        width: 30%;
        float: left;
    }
    .details {
        width: 40%;
        float: left;
        padding-top: 10%;
    }
</style>
<link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Inconsolata' rel='stylesheet' type='text/css'>
<div class="centered">
    <h1>Your gift from Santa is waiting!</h1>
</div>
<div class="linkToResults">
    <a href="<%= resultLink %>">
        <image src="<%= giftImage %>"/>
    </a>
</div>
<div class="details">
    <h2>
        Click the gift to <a href="<%= resultLink %>">download</a> and enjoy!
        <br/><br/>
        Keep in mind that these results, like the holidays are fleeting.
        We will continue to make them available at this link for 2 weeks.
        After that time, they will be permanently deleted. Please plan accordingly.
    </h2>

    If something goes wrong, email us support@mapzen.com.
</div>